<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://unpkg.com/alpinejs@3.9.5/dist/cdn.min.js"></script>
    <script src="/scripts/lazysizes.min.js" async=""></script>
    <title>Comot Komik</title>
</head>
<style>
    @font-face {
        font-family: Poppins;
        src: url('/fonts/pop.ttf');
    }
</style>
<script>
    function badId() {
      return (Math.random() * 99999).toFixed(0);
    }
  </script>
<body style="font-family: Poppins;" class="select-none"
 x-data="{ bookmarks:false, darkMode: localStorage.getItem('dark') === 'true'}"
 x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
x-bind:class="{ 'dark': darkMode }">
<div x-data="{ myBookmarks: JSON.parse(localStorage.getItem('myBookmarks') || '[]')}"
      x-init="$watch('myBookmarks', (val) => localStorage.setItem('myBookmarks', JSON.stringify(val)))"
    class="w-full h-full bg-gray-50 dark:bg-gray-800">
        <div class="container w-full max-w-2xl mx-auto">
            <div class="flex flex-col justify-center items-center">
                <label class="w-full"><h1 onclick="location.href='/'" class="text-center mt-10 font-bold text-gray-700 dark:text-white text-4xl cursor-pointer">Comot Komik</h1></label>
                     <div
                    class="text-gray-700 dark:text-white container mx-auto w-full text-sm sm:text-lg mt-5 flex flex-row justify-center items-center space-x-5">
                    <button class="hover:scale-95 transform focus:outline-none">Donate</button>
                    <button @click="bookmarks = true" class="hover:scale-95 transform focus:outline-none">Bookmarks</button>
                    <button @click="darkMode = !darkMode"  class="hover:scale-95 transform focus:outline-none">
                        <span x-show="!darkMode">Dark Mode</span>
                        <span x-show="darkMode">Light Mode</span>
                    </button>
                </div>
                <div class="w-full px-2 sm:px-0 py-5 flex flex-row justify-between items-center">
                    <% if(getChapter.slice(2).length >= 2) {%> 
                        <button onclick="location.href='/read/<%- urlEncode(getChapter[0].buttonChapter[0].links) %>?host=<%- host %>'" class="px-4 py-2 text-xs focus:outline-none bg-blue-500 text-white rounded-md">
                            <%- getChapter[0].buttonChapter[0].text %>
                        </button>
                        <button  onclick="location.href='/read/<%- urlEncode(getChapter[1].buttonChapter[0].links) %>?host=<%- host %>'"  class="px-4 py-2  text-xs focus:outline-none bg-blue-500 text-white rounded-md">
                            <%- getChapter[1].buttonChapter[0].text %>
                        </button>
                       <% } else{%>
                        <% if(getChapter[0]) {%> 
                            <button onclick="location.href='/read/<%- urlEncode(getChapter[0].buttonChapter[0].links) %>?host=<%- host %>'" class="px-4 py-2 text-xs focus:outline-none bg-blue-500 text-white rounded-md">
                                <%- getChapter[0].buttonChapter[0].text %>
                            </button>
                       <% }else {%>
                        <% } %> 
                        <% } %>  
                </div>
                <div class="w-full text-gray-700 dark:text-white text-xl sm:text-2xl text-center mb-5">
                    <%- chapterNow %> 
                </div>
                 <div class="w-full">
                    <%  for(let get of APIkomik ){%>
                        <img src="<%- get.imageLink %> " alt="image" class="lazyload border-l border-r">
                     <% } %>  
                 </div>
                <div class="w-full px-2 sm:px-0 py-5  flex flex-row justify-between items-center">
                    <% if(getChapter.slice(2).length >= 2) {%> 
                        <button onclick="location.href='/read/<%- urlEncode(getChapter[0].buttonChapter[0].links) %>?host=<%- host %>'" class="px-4 py-2 text-xs focus:outline-none bg-blue-500 text-white rounded-md">
                            <%- getChapter[0].buttonChapter[0].text %>
                        </button>
                        <button  onclick="location.href='/read/<%- urlEncode(getChapter[1].buttonChapter[0].links) %>?host=<%- host %>'"  class="px-4 py-2 text-xs focus:outline-none bg-blue-500 text-white rounded-md">
                            <%- getChapter[1].buttonChapter[0].text %>
                        </button>
                       <% } else{%>
                        <% if(getChapter[0]) {%> 
                            <button onclick="location.href='/read/<%- urlEncode(getChapter[0].buttonChapter[0].links) %>?host=<%- host %>'" class="px-4 py-2 text-xs focus:outline-none bg-blue-500 text-white rounded-md">
                                <%- getChapter[0].buttonChapter[0].text %>
                            </button>
                       <% }else {%>
                        <% } %> 
                        <% } %>  
                </div>
            </div>
        </div>
        <div class="fixed inset-0 w-full  px-1 sm:px-20  z-20 flex justify-center items-center bg-black bg-opacity-50 duration-300 "
        x-show="bookmarks"  x-transition:enter="transition duration-300" x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100" x-transition:leave="transition duration-300"
        x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
        <div class="relative w-full mx-2 sm:mx-auto  opacity-100">
            <div class="relative bg-white dark:bg-gray-700 shadow-lg rounded-md text-gray-900 z-20" x-show="bookmarks"
                x-transition:enter="transition transform duration-300" x-transition:enter-start="scale-0"
                x-transition:enter-end="scale-100" x-transition:leave="transition transform duration-300"
                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0">
                <header class="flex items-center justify-between py-4 px-2 shadow">
                    <h2 class="font-semibold text-lg sm:text-xl text-gray-600 dark:text-white flex flex-row items-center justify-center space-x-1">
                        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="w-7 h-7" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                        </svg>
                        <span>Bookmarks</span>
                    </h2>
                    <button class="focus:outline-none p-2 text-gray-600 dark:text-white" @click="bookmarks = false"   >
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                            viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                            </path>
                        </svg>
                    </button>
                </header>
                <main class="px-2 py-2 h-96 overflow-y-auto">
                    <div class="px-2 py-4  flex flex-row justify-center w-full  space-x-2   text-xs  ">
                        <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-4 lg:grid-cols-4 gap-4 overflow-hidden ">
                            <template x-for="get in myBookmarks" :key="get.id">
                                <div class="w-full  rounded-lg bg-gray-50 dark:bg-gray-300 text-gray-700 dark:text-white">
                                    <div class="flex-wrap space-y-2 p-3 flex justify-center items-center w-full ">
                                       <img :src="get.image" alt="image" class="w-32 h-32 rounded"> 
                                            <span class="text-gray-800 text-base text-center  w-full truncate" x-text="get.title"></span>
                                            <span  class=" w-full text-center text-base text-blue-500" x-text="get.h"></span>
                                            <div class="flex flex-row  space-x-2 w-full">
                                                <form action="/" method="post" class="w-full ">
                                                    <input type="hidden" name="search" :value="get.q">
                                                    <input type="hidden" name="host" :value="get.h">
                                                    <button type="submit" class="w-full focus:outline-none rounded text-white bg-blue-500 hover:bg-blue-600 px-4 py-2">Details</button>
                                                </form>
                                                <button @click="myBookmarks = myBookmarks.filter(t => t.id !== get.id),document.getElementById('fm').style.display = 'block';"
                                                class="w-full focus:outline-none rounded text-white bg-red-500 hover:bg-red-600 px-4 py-2">Remove</button>
                                            </div>
                                      </div>
                                </div>
                             </template>
                        </div>
                    </div>
              </main>
            </div>
        </div>
        </div>
    </div> 
</body>

</html>